<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <nlog>

    <targets>

      <target name="logfile" type="File" fileName="${basedir}\logs\${date:format=yyyy_MM-dd}.log" layout="${longdate}|${level}|${message}${onexception:|${exception:format=tostring:innerFormat:tostring:maxInnerExceptoinLevel=3:innerExceptionSeparator=|}}" />
      <target name="consolelog" type="Console" layout="${longdate}|${level}|${message}${onexception:|${exception:format=tostring}}" />
      <target type="Mail" name="maillog" header="There has been a ${level} log entry created on ${machinename}${newline}${newline}" body="Occurred: ${longdate}${newline}Message: ${message}${newline}${onexception:${newline}Exception\: ${exception:format=tostring:innerFormat:tostring:maxInnerExceptoinLevel=3:innerExceptionSeparator=|}}${newline}" to="mark@bteksoftware.com" from="noreply@bteksoftware.com" subject="${level} message from SWI File Mover on ${machinename}" smtpServer="10.0.1.216" />
      <target type="SignalR" name="signalrlog" Url="http://localhost:54278/" LogMethodName="SendLogMessage" HubName="LogHub"></target>
    </targets>

    <rules>
      <logger name="*" minlevel="Trace" writeTo="consolelog"></logger>
      <logger name="*" minlevel="Info" writeTo="consolelog"></logger>
      <logger name="*" minlevel="Error" writeTo="consolelog"></logger>
      <logger name="*" minlevel="Trace" writeTo="signalrlog"></logger>
    </rules>
  </nlog>
</configuration>